*.opensdf
*.sdf
*.v11.suo
*.userprefs
arduino/control-panel/Debug/
plugin/obj/
plugin/bin/
arduino/Debug/
arduino/Release/
ksp-pluginTests/bin/
ksp-pluginTests/obj/
tester/obj/
tests/bin/
tester/bin/
tests/obj/
TestResults/
packages/
panel/obj/
panel/bin/
ui-tester/Library/
ui-tester/Temp/
ui-tester/obj/
ui-tester/ui-tester.CSharp.csproj
ui-tester/ui-tester.sln
.vs/
