*.opensdf
*.sdf
*.v11.suo
*.userprefs
arduino/control-panel/Debug/
plugin/obj/
plugin/bin/
arduino/Debug/
arduino/Release/
ksp-pluginTests/bin/
ksp-pluginTests/obj/
tester/obj/
tests/bin/
tester/bin/
tests/obj/
TestResults/
