[submodule "arduino/hoodloader2"]
	path = arduino/hoodloader2
	url = https://github.com/NicoHood/HoodLoader2.git
[submodule "arduino/HID"]
	path = arduino/HID
	url = https://github.com/NicoHood/HID.git
[submodule "arduino/UnoJoy"]
	path = arduino/UnoJoy
	url = https://github.com/AlanChatham/UnoJoy.git
